#projects {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projectsTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.projectDesc {
  margin-top: -2.5rem;
  font-size: 0.85rem;
  font-weight: 300;
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: yellow;
}
.projectDesc > a {
  color: yellow;
  font-size: 1rem;
  font-weight: 400;
}

.projectsImags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 65rem;
}

.projectCard {
  margin-bottom: 1.5rem;
}

.projectImg {
  object-fit: cover;
  height: 20rem;
  width: 20rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.projectsBtn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  border: none;
  background: white;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 685px) {
  .projectImg {
    height: 47vw;
  }
}
